.ticket{
    position:relative;
    background:linear-gradient(135deg,#0b1f3a,#143d6b);
    border-radius:20px;
    overflow:hidden;
    border:3px solid gold;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
    transition:.4s;
}

.ticket:hover{
    transform:translateY(-8px);
}

.ticketHeader{
    background:gold;
    color:#000;
    text-align:center;
    padding:12px;
    font-size:24px;
    font-weight:bold;
}

.ticketContent{
    display:none;
    padding:20px;
}

.locked{
    padding:60px 20px;
    text-align:center;
}

.locked h2{
    font-size:60px;
    margin-bottom:15px;
}

.locked p{
    font-size:20px;
}

.player{
    background:white;
    color:#000;
    border-radius:15px;
    padding:15px;
    margin:15px 0;
}

.player h2{
    color:#0b3d91;
    margin-bottom:10px;
}

.player h3{
    font-size:24px;
    margin-bottom:8px;
}

.player p{
    font-size:18px;
    font-weight:bold;
}

.vs{
    text-align:center;
    font-size:32px;
    color:gold;
    font-weight:bold;
    margin:15px 0;
}
